.img1 {
  position: absolute;
  left: 233px;
  top: 315px;
  width: 100px;
  height: 100px;
}
.img2 {
  position: absolute;
  left: 527px;
  top: 315px;
}
.img3 {
  position: absolute;
  left: 800px;
  top: 315px;
}
